table.invoice-item-view {
	border: 1px solid black;
}

table.invoice-item-view th {
	background: yellow;
}

table.invoice-item-view th,
table.invoice-item-view td {
	border: 1px solid #999;
	padding: 10px;
	text-align: left;
}
